<p>
  Olá <%= @options[:name] %>,
</p>

<p>
  Obrigado por se cadastrar no Hackerboard.
</p>

<p>
  Acesse a URL abaixo para fazer o seu login.
</p>

<p>
  <a href="<%= @options[:url] %>"><%= @options[:url] %></a>
</p>

<p>
  Abraços,
</p>

<p>
  --<br>
  Equipe Hackerboard
</p>